<a href="https://colab.research.google.com/github/AkshataRajeshRam/Bootcamp_-_project/blob/main/Day2Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



#BASIC PYTHON

#Arithmetic

In [ ]:
a=5
b=6
c=a+b
print(c)

11

In [ ]:
d=a*b
print(d)

30

In [ ]:
a=int(input("Enter a value for a: "))
b=int(input("Enter a value for b: "))
add=a+b
sub=a-b
mult=a*b
div=a/b
mod=a%b
print("sum: {0}, sub:{1}, mult:{2}, div:{3}, mod:{4}".format(add,sub,mult,div,mod))
print("sum: %d, sub:%d, mult:%d, div:%3.3f, mod:%d"%(add,sub,mult,div,mod))
print('{0:<4} | {1:<4} | {2:<4} | {3:<4} | {4:<4}'.format('sum', 'diff', 'mult', 'div', 'mod'))
print('{0:<4} | {1:<4} | {2:<4} | {3:<4} | {4:<4}'.format(add,sub,mult,div,mod))

Enter a value for a: 10
Enter a value for b: 5
sum: 15, sub:5, mult:50, div:2.0, mod:0
sum: 15, sub:5, mult:50, div:2.000, mod:0
sum  | diff | mult | div  | mod
15   | 5    | 50   | 2.0  | 0

In [ ]:
a=2
b=3
c=a**b
print(c)

8

In [ ]:
a="Pyhton"
b="Bootcamp"
print(a+b)

PyhtonBootcamp

In [ ]:
a="Akshata"
print(len(a))

7

In [ ]:
a="A"
b=a*5
print(b)

AAAAA

In [ ]:
a="Akshata"
print(a[3])
print(a[:])
print(a[0:])
print(a[:2])
print(a[:-1])
print(a[::2])
print(a[::-1])

h
Akshata
Akshata
Ak
Akshat
Asaa
atahskA

In [ ]:
a="Master Class"
print(a.upper())
print(a.lower())

MASTER CLASS
master class

In [ ]:
b=a.split()
print(b)
print(b[0])
print(b[1])

['Master', 'Class']
Master
Class

In [ ]:
c="Elon Musk,Steve Jobs"
d=c.split(",")
print(d)
print(d[1])

['ElonMusk', 'SteveJobs']
SteveJobs

In [ ]:
a="Master Class"
print(f"Welcome to Python {a}")

Welcome to Python Master Class

#Create List

In [ ]:
a=[1,2,3,4,5]
b=["Akshata", 21, "AI"]
print(a+b)
print(len(a))
print(a[:2])
print(b[2])
print(a[:-1])

[1, 2, 3, 4, 5, 'Akshata', 21, 'AI']
5
[1, 2]
AI
[1, 2, 3, 4]

In [ ]:
a=[1,2,3,4,5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
a=[1,2,3,4,5]
a.reverse()
a
print(min(a))

[5, 4, 3, 2, 1]

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=[a,b]
print(c)
print(c[0])
print(c[0][0])

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3]
1


#DICTIONARY

In [ ]:
a={"Name":"Akshata", "Age":21,"Profession":"AI Engineer"}
print(a)
print(a["Name"])
a["Age"]=22
a

{'Name': 'Akshata', 'Age': 21, 'Profession': 'AI Engineer'}
Akshata

{'Name': 'Akshata', 'Age': 22, 'Profession': 'AI Engineer'}