<a href="https://colab.research.google.com/github/AkshataRajeshRam/Bootcamp_-_project/blob/main/PythonDay3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Continuation Of Python Series

In [ ]:
a=[1,2,3,4,5]
from random import shuffle
shuffle(a)
a

[2, 4, 5, 1, 3]

In [ ]:
b={"Climate": {"Condition":{"Temperature":"40 degrees","Humidity": "70 percentage"}}}
print(b["Climate"]["Condition"]["Humidity"])

70 percentage



#Creating a set

In [ ]:
a=set()

In [ ]:
a.add("Champ")
a

{'Champ'}

In [ ]:
a.add(30)
a

{30, 'Champ'}

In [ ]:
b=["Akshata", 21, "AI"]
set(b)

{21, 'AI', 'Akshata'}

#Creating Boolean

In [ ]:
a=5
b=10
c=15
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a<b and a<c)
print(a<b or a<c)

False
True
False
True
True
False
True
True


#Python Statements

In [ ]:
a=True
if a:
  print("Positive")
else:
  print("Negative")

Positive

In [ ]:
a=5
b=6
c=10
if a<b:
  print("a is less than b")
elif a==b:
  print("a is equal to b")
  print("a is not less than b")
else:
  print("a is greater than b")

a is less than b


#FOR

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in a: 
   print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
a=[x for x in "champ"]
a

['c', 'h', 'a', 'm', 'p']

In [6]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
  if i % 2==0: 
    print(i,"Even")
  else:
    print(i,"Odd")

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even


#Dictionary

In [8]:
a={"Name":"Akshata","Age":21}
for k,v in a.items():
 print(k)
 print(v)

Name
Akshata
Age
21

In [10]:
a=0
while a<10:
  print(a)
  a+=1

0
1
2
3
4
5
6
7
8
9

In [16]:
a=0
while a <10:
  print(a)
  a+=1
  if a==5:
      print("a is equal to 5")
      break
  else:
      print("Continue")
      continue

0
Continue
1
Continue
2
Continue
3
Continue
4
a is equal to 5

#Range

In [20]:
for a in range(5):
   print(a)

0
1
2
3
4

In [21]:
for a in range(10,20,2):
  print(a)

10
12
14
16
18

In [22]:
a=[i**2 for i in range(0,5)]
a

[0, 1, 4, 9, 16]


#Enumerate

In [23]:
a=0
for i,a in enumerate("Hello Champ"):
  print(i,a)

0 H
1 e
2 l
3 l
4 o
5
6 C
7 h
8 a
9 m
10 p

#Zip-Creating a tuple by zipping 2 lists.

In [24]:
a=["Name", "Age","Country"]
b=["Akshata",21,"India"]
list(zip(a,b))

[('Name', 'Akshata'), ('Age', 21), ('Country', 'India')]